/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === BLOCO: header === */
.header {
  background-color: transparent;
  border-bottom: 1px solid #cfd4dd;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.header__logo img {
  width: 3rem;
  height: 3rem;
}

.header__menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header__menu-link {
  color: #202020;
  text-decoration: none;
  border: 2px solid #cfd4dd;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}
.header__menu-link--color {
  border-style: none;
  color: white;
  background-color: #d3250f;
}

/* === BLOCO: home-main === */
.home-main {
}

/* === BLOCO: gallery === */
.gallery {
}

.gallery__item {
}

/* === BLOCO: footer === */
.footer {
}

/* === ANNOUNCE PAGE: announce-main FORM === */


/*===FIM DE BLOCO ===*/

/* === ADS PAGE : CARD STYLE *TEST* ===*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.card-price {
  font-size: 1rem;
  color: #666;
}

.card-description {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
}

.card-image {
  max-width: 100%;
  max-height: 200px;
  margin-top: 15px;
  border-radius: 4px;
}

.card-contact {
  margin-top: 15px;
}

.card-email,
.card-whatsapp {
  font-size: 0.9rem;
  color: #4caf50;
  margin: 5px 0;
}
